body {
	background-color: #FFA726;
	font-family: basic-sans , sans-serif;
	color: #ffffff;
	margin: 50px;
	margin: 50px;
}

.text {
	position: relative;
	top: 6500px;
}

.chef, .chef2 {
	font-family: Snell Roundhand, serif;

	font-size: 240px;
	opacity: 0.5;
	font-style: oblique;
}

.donkey, .donkey2, .donkey3, .donkey4 {
	font-size: 60px;
	position: absolute;
	right: 0px;
	margin-top: 0px;
	color: #E5E7E9;
}

.donkey {
	top: 240px;
}



.donkey2 {
	top: 840px;
}

.queen  {
	font-size: 30px;
	position: absolute;
	color: #FFEE58;
	
}

.king1 {
	font-family: georgia, serif;
	font-size: 100px;
	position: absolute;
	left: 100px;
	top: 1300px;
	color: #ffffff;
	text-align: left;
	width: 1000px;
}

.shrek1, .shrek2, .shrek3, .shrek4 {
	font-weight: 700;
}

.shrek1 {
	font-family: newbery-sans-pro, sans-serif;
	font-size: 200px;
	font-weight: 700;
	font-style: normal;
	color: #FE0000;
	position: absolute;
	top: 1700px;
	right: 0px;
}

.queen2 {
	font-size: 30px;
	position: absolute;
	color: #FFEE58;
	top: 2200px;
}

.king2 {
	font-family: georgia, serif;
	font-size: 100px;
	position: absolute;
	left: 100px;
	top: 2300px;
	color: #ffffff;
	text-align:left;
	width: 1000px;
}

.bold {
	font-weight: bolder;
}

.fiona {
	font-weight: 100;
	font-style: italic;
	font-size: 40px;
	position: absolute;
	top: 3000px;
	right: 700px; 

}

.shrek2 {
	font-family: newbery-sans-pro, sans-serif;
	font-size: 100px;
	color: #FE0000;
	position: absolute;
	top: 3100px;
	right: 20px;
	width: 1300px;
	text-align: right;
}

.italic {
	font-style: italic;
}

.fiona2 {
	font-weight: 100;
	font-style: italic;
	font-size: 40px;
	position: absolute;
	top: 3600px;
	right: 700px;
}

.king3 {
	font-family: georgia, serif;
	font-size: 100px;
	position: absolute;
	left: 100px;
	top: 3800px;
	color: #ffffff;
	text-align:left;
	width: 1000px;
}

.shrek3 {
	font-family: newbery-sans-pro, sans-serif;
	font-size: 100px;
	color: #FE0000;
	position: absolute;
	top: 4500px;
	right: 20px;
	width: 1300px;
	text-align: right;
}

.king4 {
	font-family: georgia, serif;
	font-size: 100px;
	position: absolute;
	left: 100px;
	top: 4800px;
	color: #ffffff;
	text-align:left;
	width: 1000px;
}

.queen3 {
	font-size: 30px;
	position: absolute;
	color: #FFEE58;
	top: 5600px;
}

.queen4 {
	font-size: 300px;
	position: absolute;
	left: 500px;
	color: #FFEE58;
	top: 5700px;
}

.fiona3 {
	font-weight: 100;
	font-style: italic;
	font-size: 400px;
	position: absolute;
	top: 6300px;
	right: 600px;
}

.shrek4 {
	font-family: newbery-sans-pro, sans-serif;
	font-size: 500px;
	color: #FE0000;
	position: absolute;
	top: 6700px;
	
	width: 1300px;
	text-align: right;
}

.king5 {
	font-family: georgia, serif;
	font-size: 580px;
	position: absolute;
	left: 0px;
	top: 7500px;
	color: #ffffff;
	text-align:left;
	width: 1000px;
}

.fiona4{
	font-weight: 100;
	font-style: italic;
	font-size: 500px;
	position: absolute;
	top: 8500px;
	right: 400px;
}

.queen5 {
	font-size: 300px;
	position: absolute;
	left: 500px;
	color: #FFEE58;
	top: 9500px;
}

.donkey4 {
	top: 9999px;
	font-size: 450px;
}

.whitebox {
	background-color: #ffffff;
	position: absolute;
	top: 11300px;
	width: 100%;
	font-size: 50px;
	color: #000000;
}

.title {
	text-align: right;

}

/*

.text {
	position: relative;
	top: 300px;
}

.redbox1 {
	background-color: #d12229;
	width: 300px;
	height: 400px;
	position: absolute;
	right: 0px;
	top: 100px;
}

.chef {
	font-family: Snell Roundhand;
	font-size: 60px;
	color: #eee3dc;
}

.chef2 {
	font-family: Snell Roundhand;
	font-size: 60px;
	color: #eee3dc;
	position: absolute;
	top: 0px;
	left: 50px;
}

.donkey {
	font-family: comic sans MS;
	font-size: 20px;
	position: absolute;
	top: 30px;
}

.donkey2 {
	font-family: comic sans MS;
	font-size: 20px;
	position: absolute;
	top: 80px;
}

.queen {
	position: absolute;
	top: 120px;
	left: 220px;
	font-size: 10px;
}

.donkey3 {
	font-family: comic sans MS;
	font-size: 20px;
	position: absolute;
	top: 120px;
}

.king1 {
	width: 1000px;
	position: absolute;
	font-size: 50px;
	top: 190px;
}

.shrek1 {
	font-family: Newbery Sans Pro;
	font-size: 70px;
	position: absolute;
	right: 80px;
	top: 200px;
}

*/
