body {
	background-color: #ffc970;
	font-family: helvetica, sans-serif;
	color: #ce6cc8;
}



.title {
	font-family: times, sans-serif;
	font-size: 60px;
	color: #ffffff;

}

.title2 {
	font-family: helvetica, sans-serif;
	font-size: 30px;
	color: #ce6cc8;
}

.box1 {
	width: 100px;
	height: 100px;
	padding: 30px;
	position: fixed;
	left: 0px;
	bottom: 100px;
	text-align: right;
}