body {
	background-color: #eee3dc;
	font-family: helvetica, sans-serif;
	color: #ce6cc8;
}

.studio {
	width: 400px;
	height: 500px;
	padding: 0px;
	position: relative;
	right: 400px;
	bottom: 0px;
	background-color: #edc7b7;
	z-index: 100;
}

.lab {

}


.title {
	font-family: times, sans-serif;
	font-size: 60px;
	color: #eee3dc;

}

.title2 {
	font-family: helvetica, sans-serif;
	font-size: 30px;
	color: #ce6cc8;
}

.box1 {
	width: 100px;
	height: 100px;
	padding: 30px;
	position: fixed;
	left: 0px;
	bottom: 100px;
	text-align: right;
}

.box2 {
	width: 250px;
	height: 100%;
	padding: 0px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	background-color: #edc7b7;
}
/*ffc970*/


.link {
	position: relative;
	left: 0px;
	top: 0px;
	color: #ac3b61;
}