


#number-2 {
	position: relative;
  width:400px;
  height:500px;
  border: 1px solid black;

}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width:400px;
}

.box1 {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: #000000;
	width: 230px;
	height: 350px;

}

.box2 {
	position: absolute;
	bottom: 0px;
	left: 100px;
	top: 250px;
	background-color: #ffffff;
	width: 200px;
	height: 20px;
}

.box3 {
	position: absolute;
	top: 400px;
	left: 260px;
	background-color: #ffffff;
	width: 141px;
	height: 20px;
}



