


#lowercase-c {
	position: relative;
  width:400px;
  height:500px;
  border: 1px solid black;

}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width:400px;
}

.box1 {
	position: absolute;
	bottom: 0px;
	left: 110px;
	background-color: #000000;
	width: 140px;
	height: 250px;

}

.box2 {
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: #000000;
	width: 140px;
	height: 250px;
}

.box3 {
	position: absolute;
	top: 250px;
	left: 210px;
	background-color: #ffffff;
	width: 90px;
	height: 90px;
}

.box4 {
	position: absolute;
	top: 300px;
	left: 230px;
	background-color: #ffffff;
	width: 50px;
	height: 90px;
}

.box5 {
	position: absolute;
	top: 350px;
	left: 240px;
	background-color: #ffffff;
	width: 30px;
	height: 90px;
}



